
<div class="container">
  <div class="row">
    
    <% @mymemos.each do |memo| %>
    
      <div class="col-sm-3"　style="margin-bottom:10px;">

        <div class="card border-primary mb-3">
          <div class="card-body">
          <p class="card-text"><%= link_to memo.content, edit_memo_path(memo) ,"data-turbolinks": false%></p>
        </div>
        <div class="card-footer text-muted" style="display: flex;  justify-content: space-between;">
          <div>
            <%= memo.created_at.strftime('%Y/%m/%d') %>
          </div>
          <%= button_to memo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-info' do%>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
            <% end%>
        </div>
      </div>

    </div>
  <% end %>
  
</div>


<%= link_to new_memo_path, class: 'btn btn-primary' ,"data-turbolinks": false do%>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
  </svg>
  NEW
<% end%>